form {
  padding: 90px;
}

.index-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.title-link {
  border-bottom: 2px solid #fff;
}

.container-main {
  width: 100%;
  height: 100%;
}

.row-about {
  width: 90%;
  height: 100%;
  }


.about-img {
  padding: 70px;
  margin: 0px auto;
}

.middle-text {
  padding-top: 40px;
}

.form-group {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

.about-p {
  padding: 10px;
  padding-bottom: 50px;
}

button {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;

}

/*.about-title {
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  padding: 60px;
  width: 100%;
  height: 100%;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  position: relative;
  transform: translate3d(0,0,0);
}*/
