form {
  padding: 90px;
  width: 80%;
}

.title-link {
  border-bottom: 2px solid #fff;
}

.container-main {
  width: 100%;
  height: 100%;
}

.row-about {
  width: 90%;
  height: 100%;
}

.about-img {
  padding: 70px;
  margin: 0px auto;
}

.middle-text {
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}

.form-group {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.about-p {
  padding: 15px;
  padding-bottom: 50px;
  text-align: left;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: 10px;
}


/*.about-title {
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  padding: 60px;
  width: 100%;
  height: 100%;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  position: relative;
  transform: translate3d(0,0,0);
}*/
