form {
  max-width: 700px;
  margin: 50px auto 30px;
}

.fa:hover {
  color: #8ACB88;
  transition: all 700ms ease;
}

.about-p {
  padding: 0px;
  padding-bottom: 20px;
  text-align: justify;
  width: 95%;
}

.about-p a {
  color: #ECF0F1;
  text-decoration: none;
  border-bottom: 3px solid #EDD382;
}

.about-p a:hover {
  text-decoration: none;
  border-bottom: 3px solid #4F7CAC;
}

.title-link {
  border-bottom: 2px solid #fff;
}

.row-about {
  width: 100%;
  height: 100%;
}

.about-img {
  justify-content: center;
  padding: 30px;
  padding-bottom: 20px;
  margin: 0px auto;
}

.middle-text {
  text-align: center;
  padding-top: 40px;
}

.input {
  color: #ECF0F1;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  word-spacing: 5px;
  letter-spacing: 2px;
  border-radius: 10px;
  line-height: 15px;
  background-color: transparent;
  border:1px solid #ECF0F1;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
  transition: all 700ms ease;
}

.input:focus {
  border: 1px solid #ECF0F1;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.submit-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: -4px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background: #000000;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 700ms ease;
}

.submit-btn:hover {
  background: #EDD382;
  border: 2px solid black;
  color: #000000;
}


.about-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  word-spacing: 5px;
  letter-spacing: 2px;
  margin-top: -4px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  background: #000000;
  border-radius: 10px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 700ms ease;
}

.about-btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.about-btn:hover {
  background: #EDD382;
  border: 2px solid black;
  color: #000000;
}

.about-button {
  padding-bottom: 20px;
}
