.footer {
  margin: 0px auto;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  padding: 20px;
  color: #ECF0F1;
  background-color: #000000;
}
.footer-item {
  margin: 0;
  padding: 10px;
}

.footer-item p {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  word-spacing: 5px;
  letter-spacing: 2px;
}


/*.footer-links a:link, a:active, a:visited {
  color: #ECF0F1;
  text-decoration: none;
}

.footer-links a:hover {
  color: #EDD382;
  text-decoration: none;
  transition: all 700ms ease;
}*/
