.footer-links a:link, a:active, a:visited {
  color: #ECF0F1;
  text-decoration: none;
}

.footer-links a:hover {
  color: #EDD382;
  text-decoration: none;
  transition: all 700ms ease;
}

.footer {
  margin: 0px auto;
  height: 100px;
  padding: 50px;
  font-size: 12px;
  color: #ECF0F1;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

