.navbar-index {
  margin: 0px;
  padding: 20px;
  font-size: 12px;
  color: #ECF0F1;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.navbar-title {
  margin: 0px auto;
  padding: 0px;
  font-size: 37px;
  letter-spacing: 16px;
}

.navbar-title:hover {
  color: #8ACB88;
  transition: all 700ms ease;
}

.nav-item:hover {
  color: #4F7CAC;
  text-decoration: none;
  transition: all 700ms ease;
}

.nav-item a:hover {
  color: #EDD382;
  text-decoration: none;
  transition: all 700ms ease;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #ECF0F1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.dropdown-content a:hover {color: #EDD382;}

.show {display:block;}

.dropdown:hover .dropdown-content {display: block;}

