* {
  box-sizing: border-box;
}

.column {
  justify-content: center;
  float: center;
  width: 30%;
  padding: 10px;
}

.row {
  justify-content: center;
  padding-left: 40px;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-trip {
  margin: 0px, auto;
  padding: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip-infos {
   text-align: left;
   color: #000;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
