@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Roboto:300,400&display=swap');

body {
  background-color: #000000;
  color: #ECF0F1;
  opacity: 1;
  transition: 1s opacity;
  margin: 0;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

p {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  word-spacing: 7px;
}

a:link, a:active, a:visited {
  color: #ECF0F1;
  text-decoration: none;
}

.index-title {
  text-align: center;
  justify-content: center;
  margin: 0px auto;
  padding: 250px;
  width: 100%;
  height: 100%;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
}

/*.index-title:hover {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/louixa/image/upload/v1562083427/ZZZ_2207_dbrxkp.jpg');
  background-repeat: no-repeat;
}*/

.index-title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  word-spacing: 5px;
  letter-spacing: 2px;
}

.title-link {
  border-bottom: 2px solid #fff;
}

.container-main {
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
}



@media (max-width: 1200px) {
  .container-main {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  .container-main {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .container-main {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .container-main {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
