<div class="navbar navbar-expand-lg navbar-light navbar-index d-flex justify-content-center">
  <center>
    <a class="navbar-title" href="/index.html">LOUIXA</a>
      <div class="navbar-menu">
        <ul class="navbar-nav">
          <li class="nav-item mr-4">
            <a href="/projects/index.html">PROJECTS</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <a onclick="myFunction()" class="photo-dropdwn">PHOTOGRAPHY</a>
              <div id="myDropdown" class="dropdown-content">
                <a href="/photography/people.html">PEOPLE</a>
                <a href="/photography/street.html">STREET/URBAN</a>
                <a href="/photography/landscapes.html">LANDSCAPE</a>
                <a href="/photography/events.html">EVENTS</a>
                <a href="/photography/costume.html">COSTUMING</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
</center>
</div>
<script>
  function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.photo-dropdwn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>


